[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
splinter = "==0.11.0"
selenium = "==3.141.0"

[requires]
python_version = "3.7"
